<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if ("" | empresa_registrada == false) %}
        <link rel="icon" type="text/css" class="fa fa-user">
    {% else %}
        <link rel="icon" href="{{ asset('uploads/empresa/logo/logo-web.jpg') }}" style="background-color: ghostwhite;">
    {% endif %}


{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Toastr-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

{% endblock stylesheets %}

    <!-- Custom Theme Style -->
    <link href="{{ asset('assets/css/custom.min.css') }}" rel="stylesheet">

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">


        {% include 'app/sidebar.html.twig' %}
        {% include 'app/topnav.html.twig' %}


        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                {% block top_content_header %}
                <div class="page-title">
                    <div class="title_left">
                   <h3>{% block page_title %}Page Title{% endblock page_title %}</h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock top_content_header %}

                <div class="clearfix"></div>


                {% block page_content %}{% endblock %}


            </div>
        </div>
        <!-- /page content -->


        {% include 'app/footer.html.twig' %}


    </div>
</div>

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
    <!--SWEET ALERT-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!--TOASTR-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>





    {% for message in app.session.flashBag().get("status") %}
    <script>
        {% for info in app.session.flashBag().get("info") %}
        var info = "{{ info }}";
        console.log(info);
        if(info == "success"){
            swal({
                title: "¡Éxito!",
                text: "{{ message }}",
                icon: "success",
                button: "Aceptar",
            });
        }else if(info == "error"){
            swal({
                title: "Hubo un problema...",
                text: "{{ message }}",
                icon: "error",
                button: "Aceptar",
            });
        }else if(info == "info"){
            swal({
                title: "¡Información!",
                text: "{{ message }}",
                icon: "info",
                button: "Aceptar",
            });
        }

        {% endfor %}
    </script>

    {% endfor %}

{% endblock javascripts %}

{% block modals %}{% endblock modals %}


</body>
</html>
