<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a class="site_title">
                {% if ("" | empresa_registrada == false) %}
                    <i class="fa fa-certificate"></i>
                {% else %}
                    <img width="45px" style="background-color: ghostwhite;" height="45px" src="{{ asset('uploads/empresa/logo/logo.png') }}" class="img-circle">
                {% endif %}
                <span>{{ "" | nombre_empresa }}</span>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_pic">
                {% if app.user.rutaimagen == null %}
                    <img src="{{ asset('assets/images/imgdefault.png') }}" alt="..." class="img-circle profile_img">
                {% else %}
                    <img src="{{ asset(app.user.rutaimagen~app.user.nombreimagen) }}"  class="img-circle profile_img">
                {% endif %}

            </div>
            <div class="profile_info">
                <span>¡Hola!,</span>
                <h2>{{ app.user.username }}</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <div class="clearfix"></div>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Menú</h3>
                <ul class="nav side-menu">
                    {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_USER') %}
                        <li><a href="{{ path('citas_index') }}"><i class="fa fa-home"></i> Página principal</a></li>
                    {% elseif is_granted('ROLE_CLIENTE') %}
                        <li><a href="{{ path('lavanda_homepage') }}"><i class="fa fa-home"></i> Página principal</a></li>
                    {%endif %}

                </ul>
            </div>

            {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_USER') or  is_granted('ROLE_CLIENTE') %}
                <div class="menu_section">
                    <h3>Citas</h3>
                    {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_USER') %}
                        <ul class="nav side-menu">
                            <li>
                                <a><i class="fa fa-calendar-check-o"></i> Citas <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a class="symfony-docs" href="{{ path('citas_index') }}">Calendario de Citas</a></li>
                                    <li><a class="symfony-docs" href="{{ path('citas_registro') }}">Agendar Cita</a></li>
                                    <li><a class="symfony-docs" href="{{ path('paquetes_index') }}">Paquetes de servicios</a></li>
                                    <li><a class="symfony-docs" href="{{ path('citas_historial') }}"> Historial de Citas</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% elseif is_granted('ROLE_CLIENTE') %}
                        <ul class="nav side-menu">
                            <li>
                                <a><i class="fa fa-calendar-check-o"></i> Citas <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a class="symfony-docs" href="{{ path('citas_cliente_index') }}">Mis Citas</a></li>
                                    <li><a class="symfony-docs" href="{{ path('citas_cliente_registro') }}">Agendar Cita</a></li>
                                    <li><a class="symfony-docs" href="{{ path('paquetes_index') }}">Paquetes de servicios</a></li>
                                    <li><a class="symfony-docs" href="{{ path('citas_historial') }}"> Historial de Citas</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}

                </div>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_USER') or  is_granted('ROLE_CLIENTE') %}
                <div class="menu_section">
                    <h3>Bar</h3>
                    <ul class="nav side-menu">
                        <li>
                            <a><i class="fa fa-beer"></i> Barra <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a class="symfony-docs" href="{{ path('bar_pos') }}"> Punto de Venta</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            {% endif %}

            {% if is_granted('ROLE_CLIENTE') %}
                <div class="menu_section">
                    <h3>Expediente</h3>
                    <ul class="nav side-menu">
                        <li>
                            <a><i class="fa fa-folder-open-o"></i> Información <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a class="symfony-docs" href="{{ path('cliente_expediente_fotografico') }}">Mi Expediente</a></li>
                                <li><a class="symfony-docs" href="{{ path('proceso_cliente_listado') }}">Mis Procesos</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_USER')%}
            <div class="menu_section">
                <h3>Negocio</h3>
                <ul class="nav side-menu">
                    <li><a href="{{ path('clientes_index') }}"><i class="fa fa-users"></i> Clientes</a></li>
                    <li><a href="{{ path('citas_cobranza') }}"><i class="fa fa-money"></i> Cobranza</a></li>

                </ul>
            </div>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <div class="menu_section">
                <h3>Administración</h3>
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-list-ul"></i> Catálogos <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('servicio_index') }}"> Servicios</a></li>
                            <li><a href="{{ path('producto_index') }}"> Productos</a></li>
                            <li><a href="{{ path('cortesia_index') }}"> Productos del Bar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-database"></i> Inventario <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('proveedores_index') }}"> Proveedores</a></li>
                            <li><a href="{{ path('bodegas_index') }}"> Bodegas</a></li>
                            <li><a href="{{ path('categorias_index') }}"> Categorías</a></li>
                            <li><a href="{{ path('unidadesmedida_index') }}"> Unidades de Medida</a></li>
                            <li><a href="{{ path('compras_index') }}"> Compras</a></li>
                        </ul>
                    </li>

                    <li>
                        <a><i class="fa fa-file-excel-o"></i> Reportes <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('cortesia_index') }}"> Productos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-cogs"></i> Herramientas <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('users_index') }}"> Usuarios</a></li>
                            <li><a href="{{ path('sucursal_index') }}"> Sucursales</a></li>
                            <li><a href="{{ path('empleado_index') }}"> Empleados</a></li>
                            <li><a href="{{ path('empresa_index') }}"> Configuración Empresa</a></li>
                            <li><a href="{{ path('galeria_index') }}"> Galería App</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            {% endif %}
            
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="{{ path('fos_user_security_logout') }}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>