<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<title>
    {{ "" | nombre_empresa}} | Login
</title>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
<!--SWEET ALERT-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if ("" | empresa_registrada == false) %}
    <link rel="icon" type="text/css" class="fa fa-user">
{% else %}
    <link rel="icon" href="{{ asset('uploads/empresa/logo/logo-web.jpg') }}" style="background-color: ghostwhite;">
{% endif %}

<body>
<div class="container center-block">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="first">
                        <div class="myform form ">
                            <div align="center" style="padding-top: 2%">
                                {% if ("" | empresa_registrada == false) %}
                                    <p></p>
                                {% else %}
                                    <img width="200px" height="200px" src="{{ asset('uploads/empresa/logo/logo.png') }}" >
                                {% endif %}

                            </div>
                            <div class="clearfix"></div>
                            <form action="{{ path("login_check") }}" method="post">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nombre de usuario</label>
                                    <input type="text" id="username" placeholder="Usuario" name="_username" value="{{ last_Username }}" aria-describedby="emailHelp" class="form-control" required/>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Password</label>
                                    <input type="password" id="password" placeholder="Contraseña" name="_password" aria-describedby="emailHelp"  class="form-control" required/>
                                </div>
                                <div class="col-md-12 text-center ">
                                    <input type="submit"  value="Login" class=" btn btn-block mybtn btn-primary tx-tfm" />
                                    <input type="hidden" name="_target_path" value="/home" />

                                    {% if error %}
                                        <!--TOASTR-->
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
                                        <script type="text/javascript">
                                            toastr.error("{{ error.message }}", '¡Error!');
                                        </script>
                                    {% endif %}
                                </div>
                                <hr/>
                                <div class="col-md-12 text-center ">
                                    <p>Si aún no tiene cuenta, puede registrarse</p>
                                    <a href="{{ path('arsc_registro_anonimo') }}" class=" btn btn-block mybtn btn-dark tx-tfm" >Registrarse</a>
                                </div>
                                <hr/>
                                <div class="col-md-12 text-center ">
                                    <p>Si no desea registrarse, puede contactarse con nosotros</p>
                                    <a href="{{ path('arsc_contacto') }}" class=" btn btn-block mybtn btn-dark tx-tfm" > Contacto</a>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

{% for message in app.session.flashBag().get("status") %}
<script>
    {% for info in app.session.flashBag().get("info") %}
    var info = "{{ info }}";
    console.log(info);
    if(info == "success"){
        swal({
            title: "¡Éxito!",
            text: "{{ message }}",
            icon: "success",
            button: "Aceptar",
        });
    }else if(info == "error"){
        swal({
            title: "Hubo un problema...",
            text: "{{ message }}",
            icon: "error",
            button: "Aceptar",
        });
    }else if(info == "info"){
        swal({
            title: "¡Información!",
            text: "{{ message }}",
            icon: "info",
            button: "Aceptar",
        });
    }

    {% endfor %}
</script>
{% endfor %}

</body>