
{% extends ":app:base.html.twig"%}

{% block stylesheets %}

    {{ parent() }}

    <!-- NProgress -->
    <link href="{{ asset('assets/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{ asset('assets/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <!-- FullCalendar -->
    <link href="{{ asset('assets/vendors/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/fullcalendar/dist/fullcalendar.print.css') }}" rel="stylesheet" media="print">

    <style>
        .selectize-control.movies .selectize-dropdown [data-selectable] {
            border-bottom: 1px solid rgba(0,0,0,0.05);
            height: 10px;

            position: relative;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            padding: 10px 10px 10px 60px;
        }
        .selectize-control.movies .selectize-dropdown [data-selectable]:last-child {
            border-bottom: 0 none;
        }
        .selectize-control.movies .selectize-dropdown{
            font-size: 15px;
        }
        .selectize-input{
            background-color: white;
            color: black;
            padding: 1px;
            width: 100%;
            border: groove;
            font-size: 15px;
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
            -webkit-appearance: textfield;
            outline: none;
        }
    </style>


{% endblock stylesheets %}

{% block top_content_header %}
    <title class="label-notifications-2">
        {{ "" | nombre_empresa}}  | Citas
    </title>
{% endblock top_content_header%}


{% block page_content %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>CITAS <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-12">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
                <br/>
               <div id="calendar"></div>

                <!-- Modal -->
                <div class="modal fade" id="datosCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="titulModal"></h3>
                            </div>
                            <div class="modal-body">
                                <h4 id="servicio"></h4>
                                <div class="center-block">
                                    <button class="btn btn-success btnrealizada" id="btnrealizada">Cita realizada</button>
                                    <button class="btn btn-danger btncancelada" id="btncancelada">Cita cancelada</button>
                                    <button class="btn btn-warning btneditar" id="btneditar">Editar</button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="editarCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: scroll;">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="titleModalEditar"></h3>
                                <h5 id="titleModalEditarServicio"></h5>
                            </div>
                            <div class="modal-body">
                                <label for="selservicios">Servicio:</label>
                                <select id="selservicios" class="form-control"></select>
                                <label for="sellongitudes">Longitud:</label>
                                <select id="sellongitudes" class="form-control"></select>
                                <label for="fechaCita">Fecha de la cita:</label>
                                <input type="date" id="fechaCita" class="form-control">
                                <label for="horaCita">Hora de la cita:</label>
                                <input type="time" id="horaCita" class="form-control">
                                <label for="txtnotas">Notas: </label>
                                <textarea id="txtnotas" class="summernote"></textarea>
                                <button id="btnactualizarcita" class="btn btn-success"> Editar</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {{ summernote_init() }}

    <!-- iCheck -->
    <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>

    <!-- FullCalendar -->
    <script src="{{ asset('assets/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/fullcalendar/dist/fullcalendar.min.js') }}"></script>

    <script type="text/javascript">
        var idlongitud = 0;
        var idcitaactualizar = 0;

        $(function () {
            $('#calendar').fullCalendar({
                themeSystem: 'bootstrap',
                defaultView: 'agendaWeek',
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
                dayNamesShort: ['Dom','Lun','Mar','Mie','Jue','Vie','Sáb'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                hiddenDays: [7],
                buttonText: {
                    today:    'Hoy',
                    month:    'Mes',
                    week:     'Semana',
                    day:      'Día',
                    list:     'Lista'
                },
                minTime: "09:00:00",
                maxTime: "20:00:00",
                eventColor: '#9161B3',
                eventTextColor: '#2D2C28',
                allDaySlot: false,
                eventRender: function(eventObj, $el){
                    $el.popover({
                        title: eventObj.title,
                        content: eventObj.description,
                        trigger: 'hover',
                        placement: 'top',
                        container: 'body'
                    });
                },
                events: function (start, end, timezone, callback) {
                    var datos = {};
                    datos.idsucursal = $("#lavandabundle_citas_idsucursal").val();
                    $.ajax({
                        url: '{{ path('citas_listado') }}',
                        type: 'GET',
                        data: datos,
                        success: function (doc) {
                            var events = [];

                           for(cita of doc){
                               events.push({
                                   id: cita.id,
                                   title: cita.title,
                                   start: cita.start,
                                   end: cita.end,
                                   color: cita.color,
                                   description: cita.description,
                               });
                           }
                            callback(events);
                        },
                        error: function (err) {
                            alert("Error en la carga");
                        }
                    });
                },
                eventClick: function(event, jsEvent, view) {
                    $("#datosCita").modal("show");
                    $("#titulModal").html(event.title);
                    $("#servicio").html(event.description);

                    if(event.color == "#23A4D8"){
                        $("#btnrealizada").show();
                        $("#btnrealizada").attr("idcita",event.id);
                        $("#btncancelada").show();
                        $("#btncancelada").attr("idcita", event.id);
                        $("#btneditar").show();
                        $("#btneditar").attr("idcita", event.id);
                    }else{
                        $("#btnrealizada").hide();
                        $("#btncancelada").hide();
                        $("#btneditar").hide();
                    }
                }
            });
        });

        $("#lavandabundle_citas_idsucursal").change(function () {
            $("#calendar").fullCalendar('refetchEvents');

        });

        $(".btnrealizada").unbind("click").click(function () {
            $("#datosCita").modal("hide");
            var idcita = $(this).attr("idcita");
            var datos = {};
            datos.idcita = idcita;
            datos.opcion = "1";
            $.ajax({
               type: 'GET',
               url: '{{ path('citas_actualizar_estatus') }}',
               data: datos,
               success: function () {
                   toastr.success("Se actualizó el estatus de la cita como REALIZADA", "¡Éxito!");
                   $("#calendar").fullCalendar('refetchEvents');
               },
               error: function () {
                   toastr.error("Error en la operación","¡Error!");
               }
            });
        });
        $(".btncancelada").unbind("click").click(function () {
            $("#datosCita").modal("hide");
            var idcita = $(this).attr("idcita");
            var datos = {};
            datos.idcita = idcita;
            datos.opcion = "2";
            $.ajax({
                type: 'GET',
                url: '{{ path('citas_actualizar_estatus') }}',
                data: datos,
                success: function () {
                    toastr.success("La cita ha sido eliminada exitosamente", "¡Éxito!");
                    $("#calendar").fullCalendar('refetchEvents');
                },
                error: function () {
                    toastr.error("Error en la operación","¡Error!");
                }
            });
        });

        $(".btneditar").unbind("click").click(function () {
            $("#datosCita").modal("hide");
            $("#editarCita").modal("show");
            const idcita = $(this).attr("idcita");
            idcitaactualizar = idcita;

            datos = {};
            datos.idcita = idcita;
            $.ajax({
                type: 'GET',
                url: '{{ path('citas_detalle') }}',
                data: datos,
                success: function (detalleCita){
                    let titulo = $("#titleModalEditar");
                    let tituloServicio = $("#titleModalEditarServicio");
                    titulo.html("");
                    tituloServicio.html("");
                    titulo.append("Editar Cita del Cliente: " + detalleCita.nombrecliente);
                    tituloServicio.append("Servicio: " + detalleCita.nombreservicio);
                    let idservicio = detalleCita.idservicio;
                    idlongitud = detalleCita.idlongitud;
                    let idsucursal = detalleCita.idsucursal;

                    listarServicios(idservicio);
                    listarLongitudes(idservicio, idlongitud);

                    let fechaCita = detalleCita.fecha;
                    $("#fechaCita").val(fechaCita);
                    let horaCita = detalleCita.hora;
                    $("#horaCita").val(horaCita);
                    let comentarios = detalleCita.comentarios;
                    $(".summernote").code(comentarios);
                },
                error: function (){
                    toastr.error("Error al cargar el detalle de la cita", "¡Error!");
                }
            });
        });

        $("#btnactualizarcita").on('click', function () {
            agendarCita();
        });

        function agendarCita() {
            let idservicio = $("#selservicios").val();
            let idlongitud = $("#sellongitudes").val();
            let idsucursal = $("#selsucursales").val();
            let fecha = $("#fechaCita").val();
            let horaSel = $("#horaCita").val();
            //let minutoSel = $("#lavandabundle_citas_horacita_minute").val();
            let idcliente = $("#selclientes").val();
            let comentarios = $("#txtnotas").val();
            let datos = {};

            if(idsucursal !== "" && fecha !== "" && horaSel !== ""){
                /*if(minutoSel >= "0" && minutoSel <= "9"){
                    minutoSel = "0"+minutoSel;
                }*/

                //let horaSeleccionada = horaSel+":"+minutoSel;
                let hora = new Date("1970/01/01 " + horaSel);
                datos.idservicio = idservicio;
                datos.idlongitud = idlongitud;
                datos.idsucursal = idsucursal;
                datos.fecha = fecha;
                datos.hora = hora.getHours();
                datos.minutos = hora.getMinutes();
                datos.idcliente = idcliente;
                datos.comentarios = comentarios;
                datos.idcita = idcitaactualizar;

                $.ajax({
                    type: 'POST',
                    url: '{{ path('citas_editar')}}',
                    data: datos,
                    success: function (response) {
                        swal({
                            title: "¡Éxito!",
                            text: "Cita editada correctamente",
                            icon: "success",
                            button: "Aceptar",
                        }).then((result) => {
                            //window.location=URL+"referencias/"+respuesta;
                            //location.reload();
                            $("#editarCita").modal("hide");
                            $("#calendar").fullCalendar('refetchEvents');
                        });
                    },
                    error: function (response) {
                        toastr.error("No es posible agendar la cita para el día y hora seleccionado", "¡Error!");
                    }
                });

            }else{
                $("#lavandabundle_citas_horacita_hour").val("");
                toastr.error("Para agendar la cita debe seleccionar el servicio, la sucursal, el empleado, la fecha y la hora de la cita", "¡Error!");
            }
        }

        function listarServicios(idservicio){
            let selectServicios = $("#selservicios").selectize({
                maxItems: 1,
                placeholder: "Seleccione un servicio"
            });
            let servicios = [];
            $.ajax({
               type: 'GET',
               url: '{{ path('servicio_listar_ajax') }}',
               success: function (listaServicios){
                   let selectizeServicios = selectServicios[0].selectize;
                   selectizeServicios.clear();
                   servicios = listaServicios;
                   let total = servicios.length;
                   if(total > 0){
                       for(let i = 0; i < total; i++){
                           selectizeServicios.addOption({
                              value: servicios[i].idservicio,
                              text: servicios[i].nombre
                           });
                           selectizeServicios.refreshOptions();
                       }
                       selectizeServicios.setValue(idservicio);
                       selectizeServicios.refreshOptions();
                   }else{
                       selectServicios.append('<option value=""> No se encontraron servicios registrados </option>');
                   }
               },
               error: function (){
                   toastr.error("Error en la carga de los servicios", "¡Error!");
               }
            });
        }

        function listarLongitudes(idservicio, idlongitud){
            let datos = {};
            datos.idservicio = idservicio;
            $.ajax({
                type: 'GET',
                url: '{{ path('serviciolongitud_listar_longitudes') }}',
                data: datos,
                success: function (longitudes) {
                    $("#sellongitudes").html("");
                    let long = $("#sellongitudes");
                    let total = longitudes.length;
                    if(total > 0){
                        $("#sellongitudes").attr("required", true);
                        long.append('<option value="">Seleccione un elemento</option>');
                        for (var i = 0; i<total; i++){
                            long.append('<option value="'+longitudes[i].idserviciolongitud + '">'+ longitudes[i].longitud + ' cm' + '</option>');
                        }
                        if(idlongitud !== 0){
                            long.val(idlongitud);
                        }
                    }else{
                        long.append('<option value="">Este servicio no está asociado a registros de longitudes</option>');
                    }
                },
                error: function () {
                    toastr.error("Error al intentar recuperar la lista de longitudes", "¡Error!");
                }
            });
        }

        $("#selservicios").on('change', function (){
           let idservicio = $(this).val();
           listarLongitudes(idservicio, idlongitud);
        });

    </script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.js') }}"></script>

{% endblock javascripts %}
