
{% extends ":app:base.html.twig"%}

{% block stylesheets %}

    {{ parent() }}

    <!-- NProgress -->
    <link href="{{ asset('assets/vendors/nprogress/nprogress.css') }}" rel="stylesheet">

    <style>
        .selectize-control.movies .selectize-dropdown [data-selectable] {
            border-bottom: 1px solid rgba(0,0,0,0.05);
            height: 10px;

            position: relative;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            padding: 10px 10px 10px 60px;
        }
        .selectize-control.movies .selectize-dropdown [data-selectable]:last-child {
            border-bottom: 0 none;
        }
        .selectize-control.movies .selectize-dropdown{
            font-size: 15px;
        }
        .selectize-input{
            background-color: white;
            color: black;
            padding: 1px;
            width: 100%;
            border: groove;
            font-size: 15px;
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
            -webkit-appearance: textfield;
            outline: none;
        }
    </style>

{% endblock stylesheets %}

{% block top_content_header %}
    <title class="label-notifications-2">
        {{ "" | nombre_empresa}}  | Citas | Registrar
    </title>
{% endblock top_content_header%}

{% block page_content %}
    <div class="col-lg-12">
        <ul class="pull-right">
            <li> <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#nuevoCliente">
                    <i class="fa fa-plus" aria-hidden="true"> Cliente</i>
                </button></li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Registro de nueva cita</h2>

            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                {{ form_end(form) }}
                <br/>
                <div class="clearfix"></div>
                <button type="button" id="btnagendarcita" class="btn btn-primary" onclick="agendarCita();" >Verificar disponibilidad</button>

            </div>
            <div class="panel-footer">

            </div>
        </div>

        <div class="modal fade" id="nuevoCliente" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3>Registrar nuevo cliente</h3>
                    </div>
                    <div class="modal-body">
                        <label for="txtnombre">Nombre del Cliente</label>
                        <input  type="text" id="txtnombre" class="form-control">
                        <label for="txtapellido">Apellido del Cliente</label>
                        <input  type="text" id="txtapellido" class="form-control">
                        <label for="txttelefono">Teléfono</label>
                        <input  type="text" id="txttelefono" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-success" id="btnnuevocliente" onclick="nuevoCliente()">  Guardar</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {{ summernote_init() }}




    <script type="text/javascript">
        $(document).ready(function () {
            $("#lavandabundle_citas_idserviciolongitud").html("");
            $("#lavandabundle_citas_idcliente").selectize({
                maxItems: 1,
                placeholder: "Seleccione un cliente"
            });
            $("#lavandabundle_citas_servicio").selectize({
               maxItems: 1,
               placeholder: "Seleccione un servicio"
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var fecha = new Date();
            var year = fecha.getFullYear();
            var month = fecha.getMonth();
            var day = fecha.getDate();

            if(day >= "1" && day <= "9"){
                day = "0" + day;
            }

            var fechaActual = year + "-" + (month  + 1) + "-" + day;
            $("#lavandabundle_citas_fechacita").attr('min', fechaActual);
        });
    </script>

    <script type="text/javascript">
        $("#lavandabundle_citas_idsucursal").change(function () {
            var idsucursal = $(this).val();
            var datos = {};
            datos.idsucursal = idsucursal;
            $.ajax({
                type: 'GET',
                url: '{{ path('empleado_sucursal') }}',
                data: datos,
                success: function (empleados) {
                    $("#lavandabundle_citas_idempleado").html("");
                    var emp = $("#lavandabundle_citas_idempleado");
                    var total = empleados.length;
                    if(total > 0){
                        emp.append('<option value="">Seleccione al empleado que le atenderá</option>');
                        for(var i=0;i<total;i++){
                            emp.append('<option value="' + empleados[i].idempleado + '">' + empleados[i].nombre + '</option>');
                        }
                    }else{
                        emp.append('<option value="">No se han registrado empleados para esta sucursal</option>');
                    }
                },
                error: function (empleados) {

                }
            });
        });
    </script>

    <script type="text/javascript">
        $("#lavandabundle_citas_fechacita").change(function () {
            var fechaSel = $(this).val();
            var date = new Date('"' + fechaSel + '"');

            if(date.getDay() === 0){
                toastr.error("El día domingo no está disponible para agendar cita", "¡Error!");
                $(this).val("");
            }
        });
    </script>


    <script type="text/javascript">
        function agendarCita() {
            let idservicio = $("#lavandabundle_citas_servicio").val();
            let idlongitud = $("#lavandabundle_citas_idserviciolongitud").val();
            let idsucursal = $("#lavandabundle_citas_idsucursal").val();
            let idempleado = $("#lavandabundle_citas_idempleado").val();
            let fecha = $("#lavandabundle_citas_fechacita").val();
            let horaSel = $("#lavandabundle_citas_horacita_hour").val();
            let minutoSel = $("#lavandabundle_citas_horacita_minute").val();
            let idcliente = $("#lavandabundle_citas_idcliente").val();
            let comentarios = $("#lavandabundle_citas_comentarios").val();
            let datos = {};

            if(idsucursal !== "" && idempleado !== "" && fecha !== "" && horaSel !== ""){
                if(minutoSel >= "0" && minutoSel <= "9"){
                    minutoSel = "0"+minutoSel;
                }

                let horaSeleccionada = horaSel+":"+minutoSel;
                let hora = new Date("1970/01/01 " + horaSeleccionada);
                datos.idservicio = idservicio;
                datos.idlongitud = idlongitud;
                datos.idsucursal = idsucursal;
                datos.idempleado = idempleado;
                datos.fecha = fecha;
                datos.hora = hora.getHours();
                datos.minutos = hora.getMinutes();
                datos.idcliente = idcliente;
                datos.comentarios = comentarios;

                $.ajax({
                    type: 'GET',
                    url: '{{ path('citas_proceso')}}',
                    data: datos,
                    success: function (response) {
                        swal({
                            title: "¡Éxito!",
                            text: "Cita registrada correctamente",
                            icon: "success",
                            button: "Aceptar",
                        }).then((result) => {
                            //window.location=URL+"referencias/"+respuesta;
                            location.reload();
                        });
                    },
                    error: function (response) {
                        toastr.error("No es posible agendar la cita para el día y hora seleccionado", "¡Error!");
                    }
                });

            }else{
                $("#lavandabundle_citas_horacita_hour").val("");
                toastr.error("Para agendar la cita debe seleccionar el servicio, la sucursal, el empleado, la fecha y la hora de la cita", "¡Error!");
            }
        }
    </script>

    <script type="text/javascript">
        $("#lavandabundle_citas_servicio").change(function () {
            var idservicio = $(this).val();
            var datos = {};
            datos.idservicio = idservicio;
            $.ajax({
                type: 'GET',
                url: '{{ path('serviciolongitud_listar_longitudes') }}',
                data: datos,
                success: function (longitudes) {
                    $("#lavandabundle_citas_idserviciolongitud").html("");
                    var long = $("#lavandabundle_citas_idserviciolongitud");
                    var total = longitudes.length;
                    if(total > 0){
                        $("#lavandabundle_citas_idserviciolongitud").attr("required", true);
                        long.append('<option value="">Seleccione un elemento</option>');
                        for (var i = 0; i<total; i++){
                            long.append('<option value="'+longitudes[i].idserviciolongitud + '">'+ longitudes[i].longitud + ' cm' + '</option>');
                        }
                    }else{
                        long.append('<option value="">Este servicio no está asociado a registros de longitudes</option>');
                    }
                },
                error: function () {
                    toastr.error("Error al intentar recuperar la lista de longitudes", "¡Error!");
                }
            });
        });
    </script>

    <script type="text/javascript">
        $("#lavandabundle_citas_Guardar").one('click', function (event) {
            event.preventDefault();
            toastr.info('Presione nuevamente para confirmar el registro','¡Atención!');
        });

        enviando = false; //Obligaremos a entrar el if en el primer submit

        function checkSubmit() {
            if (!enviando) {
                enviando= true;
                return true;
            } else {
                //Si llega hasta aca significa que pulsaron 2 veces el boton submit
                toastr.info('Ya se enviaron los datos','¡Atención!');
                return false;
            }
        }
    </script>

    <script>
        function nuevoCliente(){
            let nombre = $("#txtnombre").val();
            let apellido = $("#txtapellido").val();
            let telefono = $("#txttelefono").val();
            let datos = {};


            if(nombre !== "" && apellido !== "" && telefono !== ""){
                datos.nombre = nombre;
                datos.apellido = apellido;
                datos.telefono = telefono;
                $.ajax({
                    type: 'POST',
                    url: '{{ path('cliente_new_ajax') }}',
                    data: datos,
                    success: function (response){
                        $("#txtnombre").val("");
                        $("#txtapellido").val("");
                        $("#txttelefono").val("");
                        toastr.success("Cliente registrado correctamente", "¡Éxito!");
                        $("#nuevoCliente").modal('hide');
                        location.reload();
                    },
                    error: function (response){
                        toastr.error(response.message, "¡Error!");
                    }
                });
            }else{
                toastr.error("Faltan datos para registrar al cliente", "¡Error!");
            }
        }
    </script>

    <!-- iCheck -->
    <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.js') }}"></script>

{% endblock javascripts %}