
{% extends ":app:base.html.twig"%}

{% block stylesheets %}

    {{ parent() }}

    <!-- NProgress -->
    <link href="{{ asset('assets/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{ asset('assets/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block top_content_header %}
    <title class="label-notifications-2">
        {{ "" | nombre_empresa}}  | Encuesta
    </title>
{% endblock top_content_header%}

{% block page_content %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>Respuestas de {{ cliente.nombre  }} {{ cliente.apellido }}  <small>Respondió el día: {{ encuesta.fecharegistro | date('d-m-Y H:i:s') }}</small></h3>
            </div>
            <div class="x_content">
                <div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>Acerca de las instalaciones</h3>

                            <p style="font-size: medium; color: black;">1.- Las instalaciones de la peluquería se encuentran en el buen estado y son confortables</p>
                            <label for="opcion1">Respuesta: </label>
                            <input readonly class="form-control" id="opcion1" name="opcion1" value="{{ (encuesta.opcion1 | validar_respuesta ) }}">
                            <div class="clearfix"></div>

                            <p style="font-size: medium; color: black;">2.- El personal cuenta con recursos materiales suficientes para llevar a cabo su trabajo</p>
                            <label for="opcion2">Respuesta: </label>
                            <input readonly class="form-control" id="opcion2" name="opcion2" value="{{ (encuesta.opcion2 | validar_respuesta) }}">
                            <div class="clearfix"></div>

                            <p style="font-size: medium; color: black;">3.- El ambiente va acorde con el establecimiento (música, decoración, olores)</p>
                            <label for="opcion2">Respuesta: </label>
                            <input readonly class="form-control" id="opcion2" name="opcion2" value="{{ (encuesta.opcion3 | validar_respuesta) }}">
                            <div class="clearfix"></div>

                            <p style="font-size: medium; color: black;">4.- Me encuentro a gusto en el salón de belleza</p>
                            <label for="opcion2">Respuesta: </label>
                            <input readonly class="form-control" id="opcion2" name="opcion2" value="{{ (encuesta.opcion4 | validar_respuesta) }}">
                            <div class="clearfix"></div>

                            <h3>Acerca de la atención recibida por el personal del salón de belleza</h3>

                            <p style="font-size: medium; color: black;">1.- El trato del personal conmigo ha sido considerado y amable</p>
                            <label for="opcion2">Respuesta: </label>
                            <input readonly class="form-control" id="opcion2" name="opcion2" value="{{ (encuesta.opcion5 | validar_respuesta) }}">
                            <div class="clearfix"></div>

                            <p style="font-size: medium; color: black;">2.- El estilista se interesó por el resultado final</p>
                            <label for="opcion2">Respuesta: </label>
                            <input readonly class="form-control" id="opcion2" name="opcion2" value="{{ (encuesta.opcion6 | validar_respuesta) }}">
                            <div class="clearfix"></div>

                            <h3>Sobre el servicio recibido en el salón</h3>

                            <p style="font-size: medium; color: black;">1.- El servicio recibido ha sido satisfactorio</p>
                            <label for="opcion2">Respuesta: </label>
                            <input readonly class="form-control" id="opcion2" name="opcion2" value="{{ (encuesta.opcion7 | validar_respuesta) }}">
                            <div class="clearfix"></div>

                            <p style="font-size: medium; color: black;">2.- El servicio se realizó en el tiempo acorde a mis expectativas</p>
                            <label for="opcion2">Respuesta: </label>
                            <input readonly class="form-control" id="opcion2" name="opcion2" value="{{ (encuesta.opcion8 | validar_respuesta) }}">
                            <div class="clearfix"></div>

                            <p style="font-size: medium; color: black;">3.- El precio del servicio va acorde al valor que me aporta</p>
                            <label for="opcion2">Respuesta: </label>
                            <input readonly class="form-control" id="opcion2" name="opcion2" value="{{ (encuesta.opcion9 | validar_respuesta) }}">
                            <div class="clearfix"></div>

                            <p style="font-size: medium; color: black;">4.- Me han informado de las ofertas en el curso</p>
                            <label for="opcion2">Respuesta: </label>
                            <input readonly class="form-control" id="opcion2" name="opcion2" value="{{ (encuesta.opcion10 == "1" ? "Sí" : "No" ) }}">
                            <div class="clearfix"></div>

                            <p style="font-size: medium; color: black;">5.- Me gustan los productos que se utilizan en el salón</p>
                            <label for="opcion2">Respuesta: </label>
                            <input readonly class="form-control" id="opcion2" name="opcion2" value="{{ (encuesta.opcion11 == "1" ? "Sí" : "No" ) }}">
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-footer">
                            <ul>
                                <li>
                                    <a style="font-size: medium" href="{{ path('clientes_index') }}">Volver al listado</a>
                                </li>
                                <li>
                                    <a style="font-size: medium" href="{{ path('clientes_index', {"idcliente" : cliente.idcliente}) }}">Volver al Cliente</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {{ summernote_init() }}

    <script type="text/javascript">
        $("#lavandabundle_empresa_logo").change(function () {
            var fileInput = $(this);
            var filePath = fileInput.val();
            var allowedExtensions = /(.png)$/i;
            if(!allowedExtensions.exec(filePath)){
                toastr.error("El archivo debe contener la extensión .png","¡Atención!");
                fileInput.val('');
                return false;
            }
        });
    </script>


    <!-- iCheck -->
    <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.js') }}"></script>

{% endblock javascripts %}